.navbar {
    background-image: linear-gradient(to right, rgb(0, 153, 255) , rgb(52, 0, 148));
}

.navbar-light .navbar-brand {
    color: aliceblue;
}

.container {
    margin-top: auto;
}

h1 {
    font-size: 30px;
    font-weight: 300;
}

.card {
    margin-top: 2%;
}